name: Autotag

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - uses: butlerlogic/action-autotag@stable
      with:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      # If the new version/tag is a pre-release (i.e. 1.0.0-beta.1), create
      # an environment variable indicating it is a prerelease.
    - name: Pre-release
      if: steps.autotagger.outputs.tagname != ''
      run: |
        if [[ "${{ steps.autotagger.output.version }}" == *"-"* ]]; then echo "::set-env IS_PRERELEASE=true";else echo "::set-env IS_PRERELEASE=''";fi

    - name: Release
      id: create_release
      if: steps.autotagger.outputs.tagname != ''
      uses: actions/create-release@v1.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.autotagger.outputs.tagname }}
        release_name: ${{ steps.autotagger.outputs.tagname }}
        body: ${{ steps.autotagger.outputs.tagmessage }}
        draft: false
        prerelease: env.IS_PRERELEASE != ''

      # Build tarballs of the module code.
    - name: Build Release Artifacts
      id: build_release
      if: steps.create_release.outputs.id != ''
      run: |
        dev build --pack
        cp -rf .dist ./dist
      # Upload tarballs to the release.
    - name: Upload Release Artifacts
      uses: AButler/upload-release-assets@v2.0
      if: steps.create_release.outputs.id != ''
      with:
        files: '.dist/*.tar.gz'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        release-tag: ${{ steps.autotagger.outputs.tagname }}

    - name: Publish to npm
      id: publish_npm
      if: steps.autotagger.outputs.tagname != ''
      uses: author/action-publish@stable
      with:
        scan: ./dist
      env:
        REGISTRY_TOKEN: ${{ secrets.NPM_REGISTRY_TOKEN }}

    - name: Rollback Release
      if: failure() && steps.create_release.outputs.id != ''
      uses: author/action-rollback@stable
      with:
        tag: ${{ steps.autotagger.outputs.tagname }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}