name: Autotag

on: 
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: butlerlogic/action-autotag@1.0.2
      with:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
